<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/style/home.css">
</head>
<body>

    <div style="position: relative;top: 50%;">
    <div class="topnav" id="myTopnav">
        <div class="container">
            <a href="/" class="active home-tag" style="color: black;" id="home">Home</a>
            <div id="alignment">
                <%  if(typeof userset != undefined){ %>
                       <% if(userset === true){ %>
                       
                            <a  href="/profile">About us</a>
                            <a  href="/profile">Contact us</a>
                            <a  href="/profile">Profile</a>
                            <a  href="/logout">Logout</a>
                    
                       <% }else{ %>
                            <a  href="/profile">Abouts us</a>
                            <a  href="/profile">Contact us</a>
                            <a href="/profile" data-toggle="modal" data-target="#myModal" style="background: transparent;">Sign in</a>
                      <%  } %>
                  <%  } %>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i style="font-size: 30px;display: none;" class="fa fa-times" aria-hidden="true"></i>
                <i style="font-size: 30px;" class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    </div>

    <div class="res-navs">
    
    </div>

    
    <% if(message.length > 0){ %>
<div class="alert alert-success alert-dismissible" style="position: fixed;background-color: white;z-index: 100;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border: none;transition: 1s;" id="alerts">
    <strong style="color: black;"><%= message %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="text-decoration: none;color: black;">&times;</span>
    </button>
</div>
    <% } %>

    
   <%  if(typeof userData != undefined && typeof checkplasmauser != undefined){ %>
    
        <% if(userData ===  false && checkplasmauser === false){ %>
            <div id="topalerts">
                
                <div class="container">
                    <div id="popupss">
                        <div>
                            <p>Please post Donar details..!!</p>
                        </div>
                        <div style="margin-top: 20px;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                style="background: transparent;">
                                <span style="color: black;font-weight: bold;">Post</span>
                            </button>
            
                            <button class="btn btn-primary" onclick="closealert()">close</button>
                        </div>
                    </div>
                </div>
            
            </div>
      
        <% } %>
   <%  } %>
    

    <div class="main">
            <div class="bg" style="height: 750px;">
                <div class="mainHead">
                    <h1 style="font-family: 'Prompt', sans-serif;">Donate Blood</h1>
                  <div style="margin-top: 20px;">
                        <p>“There is no exercise better</p>
                        <p>for the heart than reaching down</p>
                        <p>and lifting people up. ”</p>
                        <p style="margin-top: 15px;font-weight:900;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             – John Holmes</p>
                  </div>
                </div>
            </div>
        </div>
  

    <div class="container" >
        <!-- Button to Open the Modal -->
    
    
        <!-- The Modal -->
        <div class="modal modal fade" id="myModal" style="margin-top: 20px;">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header" style="display: flex;justify-content: space-around;">
                       
                            <div style="padding: 5px 10px 10px 20px;background-color: white;width: 100%;margin: 2px;text-align: center;cursor: pointer;" id="upact">
                                <h6 class="modal-title" id="signup">sign up</h6>
                            </div>
                            <div style="padding: 5px 10px 10px 20px;background-color: grey;width: 100%;margin: 2px;text-align: center;cursor: pointer;" id="inact">
                                <h6 class="modal-title" id="signin">sign in</h6>
                            </div>
                       
                     
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">

                        <!-- Register form -->
                       <div style="display: block;" id="sinupform">
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">PhoneNumber:</label>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phoneNumber" name="phoneNumber">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">User Type:</label>
                                    <select id="usertype" name="usertype" class="form-control">
                                        <option value="donar">Register as Donar</option>
                                        <option value="search">Searching donar</option>
                                        <option value="pdonar">Plasma donar</option>
                                        <option value="psearch">Searching Plasma donar</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="password">password:</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                                </div>
                            
                                
                            
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                            </div>
                       
                        <!-- Login form -->
                        <div style="display: none;" id="sininform">
                         
                            <form action="/login" method="POST">
                                
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" class="form-control" id="email" placeholder="Enter Email" name="emails">
                                </div>
                                
                                <div class="form-group">
                                    <label for="password">password:</label>
                                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="passwords">
                                </div>
                        
                        
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </form>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    
    </div>

    <div class="registrations">
        <div class="container">
            <div class="row">
              
                <div class="col-md-4" style="margin-top:6px;text-align: center;">
                    <div id="cards">
                    
                    <div style="background-color: #00aeef;padding: 5px;">
                        <img src="/public/images/search.png" width="100" height="100" style="padding: 10px;margin-top: 20px;">
                        <p class="card-title" style="font-weight: 700;">Search Donar</p>
                    </div>
                    <p style="padding: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde.</p>
                    <a href="/searchdonar" class="btn btn-primary">click here</a>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:6px;text-align: center;">
                    <div id="cards">
                    
                    <div style="background-color: #00aeef;padding: 5px;">
                        <img src="/public/images/banks.png" width="100" height="100" style="padding: 10px;margin-top: 20px;">
                        <p class="card-title" style="font-weight: 700;">Blood Banks</p>
                         
                    </div>
                    <p style="padding: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde.</p>
                    <a href="#"  class="btn btn-primary" >click here</a>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:6px;text-align: center;">
                    <div id="cards">
                
                        <div style="background-color: #00aeef;padding: 5px;">
                            <img src="/public/images/banks.png" width="100" height="100" style="padding: 10px;margin-top: 20px;">
                            <p class="card-title" style="font-weight: 700;">plasma</p>
                
                        </div>
                        <p style="padding: 5px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde.</p>
                        <a href="/plasma" class="btn btn-primary">click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>
    
    <script>
         function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                    
                    document.querySelector(".topnav").style.background = "black"
                    document.querySelector(".fa-times").style.display = "block"
                  
                } else {
                    x.className = "topnav";
                    document.querySelector(".topnav").style.background = "transparent"
                  
                    document.querySelector(".fa-times").style.display = "none"
                }
            }

        window.addEventListener('scroll', function () {
                if (window.pageYOffset > 30) {
                    document.querySelector("#topalerts").style.top = "0px"
                    console.log("kj")
                } else if (window.pageYOffset < 500) { document.getElementById("topalerts").style.top = "-15%" }
            }); function
                closealert() { document.getElementById("topalerts").style.top = "-15%" } setTimeout(() => {
                    document.getElementById("alerts").style.display = "none"
                }, 3000);

        setTimeout(() => {
            document.getElementById("alerts").style.left = "-500px"
        },3000);
        setTimeout(() => {
                document.getElementById("alerts1").style.display = "none"
            }, 3000);
    </script>
    <script src="/public/scripts/home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>